<br>
<br>
<br>

<%= render "/error_messages", :message_header => "Cannot save: ", :target => @booking %> 

<div class="form1">
	<div class="main-title">New Booking for "<%= @booking.product.title %>"</div>
	<%= render 'form' %>
	<%#= link_to 'Back', bookings_path %>
	<%= link_to_function "Back", "history.back()" %>
</div>
