
<div class="form1">
	<fieldset>
		<div class="sub-title"> 
			Name: <%= @user.name %>
		</div>
		</br>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	</fieldset>
	
</div>